.container {
  border: 1px dashed #ccc;
  padding: 4px;
  height: 56px;
  overflow: auto;
  width: 120px;
}

.card_container {
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 4px;
  padding: 4px;
  font-size: 12px;
}

.item_one {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: red;
}

.item_two {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: orange;
}

.item_three {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: yellow;
}
.item_four {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: green;
}

.item_five {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: blue;
}
.item_six {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: violet;
}
.item_seven {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: pink;
}
